data/
KITTI_dataset/
OSDaR_dataset/
# misc/
wandb
misc/sandbox



# From the original PointTransformer v.3 
image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so

exp/inference_siemens_data/
exp/milestone_runs/
exp/preprocessed_pcd/
exp/weights_sweeps_training/

weights
data
log
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
misc/sandbox.ipynb
misc/wandb_tuto.py



misc/requirements.txt
misc/requirements.yaml
misc/predict_sem_seg_new.py
misc/inference_cfg_new.yml
dataset_explorations/max_track_dist.py
dataset_explorations/analysis_person_annotation.ipynb
preprocessed_pcd/
preprocessed_pcd.zip
pyrightconfig.json

tools/eval_only.py
pointcept/engines/train_modified_for_eval_only.py
test_dev/debug_pickle_dumps.ipynb
test_dev/debug_pickle_dumps_with_output.ipynb
misc/requirements.txt
misc/requirements.yaml
misc/sandbox.ipynb
configs/osdar23/DEBUG_OSDaR23.py
exp/safetrain_color_palette_cloud_compare.xml
