data/
KITTI_dataset/
OSDaR_dataset/
# test_dev/
wandb
test_dev/sandbox



# From the original PointTransformer v.3 
image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp
weights
data
log
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
test_dev/sandbox.ipynb
test_dev/wandb_tuto.py
test_dev/predict_sem_seg_DEBUG.py
test_dev/predict_sem_seg_DEBUG2.py
test_dev/random_fct_understanding.ipynb
test_dev/max_track_dist.py
Dockerfile_root_redirect
test_dev/requirements.txt
test_dev/requirements.yaml
test_dev/predict_sem_seg_new.py
test_dev/inference_cfg_new.yml
dataset_explorations/max_track_dist.py
dataset_explorations/analysis_person_annotation.ipynb
preprocessed_pcd/
preprocessed_pcd.zip
pyrightconfig.json
dataset_explorations/create_las.py
tools/train_sweep_online_paste.py
tools/eval_only.py
pointcept/engines/train_modified_for_eval_only.py
test_dev/debug_pickle_dumps.ipynb
test_dev/debug_pickle_dumps_with_output.ipynb
